.pagetwo__main{
    margin: 18px 70px;
    
    @media only screen and (max-width: 540px) {
        margin: 8px 30px;
    }
}

.pagetwo__main_filenames{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none !important;
    }

    & > div{
        word-wrap: normal;
        margin-right: 30px;
        border: 1px solid #000;
        border-radius: 5px;

        display: flex;
        flex-direction: row;
    }
    & > div:not(:last-child){
        padding: 5px 10px 5px 10px;
    }
    & > div:first-child{
        background-color: #e9edef;;
    }
    & > div:last-child{
        padding: 5px;
    }
}

.pagetwo__main_file_and_buttons{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: 540px) {
        flex-direction: column;

        & > div {
            margin: 10px 0;
        }
    }
}

.pagetwo__main_file_and_buttons_file{
    font-size: 20px;
}

.pagetwo__main_file_and_buttons_button{
    display: flex;
    flex-direction: row;
    & > div {
        background-color: #e9edef;
        margin: 0 10px;
        width: 20px;
        height: 20px;
        border: 1px solid #afbcc3;
    }
}

.pagetwo__main_product{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: grid;
    grid-template-columns: 1.5fr 8fr 1.5fr;

    @media only screen and (max-width: 540px) {
        display: flex;
        flex-direction: column;
    }
}

.pagetwo__main_product_image_and_detail{
    background-color: #e9edef;
    height: fit-content;
}

.pagetwo__main_product_image_and_detail_image{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_style{
        height: 100%;
    }
}


.pagetwo__main_product_image_and_detail_detail{
    margin: 7px 0 7px 15px;
}

.pagetwo__main_product_details{
    display: flex;
    flex-direction: column;
    padding: 15px;

    &_technology{
        font-size: 20px;
        font-weight: 540;
        margin-bottom: 5px;
    }
    &_production{
        font-size: 20px;
        font-weight: 540;
        margin: 10px 0 15px 0;
    }
    &_input_head{
        font-weight: 540;
        margin-bottom: 5px;
    }
    &_input{
        padding: 5px;
        width: 100%;
    }
}

.pagetwo__main_product_details_info{
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 540px) {
        flex-direction: column;
    } 

    & > div:not(:last-child) {
        margin-right: 30px;

        @media only screen and (max-width: 540px) {
            margin: 0;;
        } 
    }

    & > div{
        width: 30%;

        @media only screen and (max-width: 540px) {
            margin: 10px 0 10px 0;
            width: 100%;
        } 
    }

    &_select{
        width: 100%;
        padding: 6px;
    }
}

.pagetwo__main_product_details_production_process{
    font-size: 20px;
    font-weight: 540;
    margin: 10px 0 5px 0;
}

.pagetwo__main_product_price{
    padding: 15px;
    @media only screen and (max-width: 540px) {
        padding: 0 15px 15px 15px;
    } 

    &_pricing{
        font-size: 20px;
        font-weight: 540; 
        margin-bottom: 20px;
    }
    &_priority{
        margin: 10px 0;
    }
    &_quality{
        margin: 20px 0;
    }
}

.pagetwo__main_product_price_quality_input{
    display: flex;
    flex-direction: row;
    width: 80%;
    @media only screen and (max-width: 540px) {
        width: 60%
    }
    justify-content: space-between;
    border: 1px solid #afbcc3;
    margin-top: -2px;

    & > div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
    }

    & > div:nth-of-type(1) {
        cursor: pointer;
        flex-grow: 1;
        background-color: #afbcc3;
    }
    & > div:nth-of-type(2) {flex-grow: 2;}
    & > div:nth-of-type(3) {
        cursor: pointer;
        flex-grow: 1;
        background-color: #afbcc3;
    }
}

.pagetwo__main_product_price_instructions{
    background-color:#e9edef;
    height: 100px;
    padding: 10px;
    @media only screen and (max-width: 540px) {
        width: 60%;
    } 
}

.pagetwo__main_product_details_info_inputs{
    position: relative;

    &_top_right{
        position: absolute;
        top: 0;
        right: 4px;
        color: #4f4; 
    }
}

.pagetwo__main_product_details_input_material{
    position: relative;
    width: 30%;

    @media only screen and (max-width: 540px) {
        width: 100%;
    }
}

@media only screen and (min-width: 540px) {
    .desktopview{
        display: none;
    }
}
@media only screen and (max-width: 540px) {
    .mobileview{
        display: none;
    }
}

.pagetwo__main_product_details_main_carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagetwo__main_product_details_carousel{
    display: grid;
    grid-template-columns: auto;
    margin: 0 10px;

    @media only screen and (max-width: 540px) {
        margin: 0;
    }
    & > div::-webkit-scrollbar {
        display: none !important;
    }
    & > div {
        & > div{
            margin: 5px;
        }
        display: flex;
        overflow: auto;
    }
}

.pagetwo__main_product_details_carousel::-webkit-scrollbar {
    display: none !important;
}

.pagetwo__main_product_details_color_select{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 .5rem;
}

.color__selected{
    height: 5px;
    width: 5px;
    background-color: red;
    padding: 10px;
}

.color__select{
    border: none;
    width: 100%;
    width: 100%;
    padding: 5px;
    font-size: 15px;
}


.pagetwo__main_product_details_main_carousel .pagetwo__main_product_slide_icons {
    width: 45px;
    height: 45px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagetwo__main_product_details_main_carousel .pagetwo__main_product_slide_icons img{
    width: 22px;
    height: 22px;
    margin-left: -4px;
    background-color: gray;
    border-radius: 50%;
}

.pagetwo__main_product_details_main_carousel .pagetwo__main_product_slide_icons.right img{
    transform: rotateZ(180deg);
    margin-left: 4px;
}

.pagetwo__main_product_price_quality > .error {
    color: rgb(238, 141, 141); 
    font-size: 90%;
}